<table class="table table-striped">
    <thead>
        <th>Intento</th>
        <th>Puntaje</th>
    </thead>
    <tbody *ngIf="escala">
        <tr>
            <td>
                1
            </td>
            <td>
                {{escala.puntajes[0]}}
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                {{escala.puntajes[1]}}
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                {{escala.puntajes[2]}}
            </td>
        </tr>
    </tbody>
</table>