<div class="contenedor">
  <h2>Evaluación video</h2>

  <canvas #canvas width="640" height="480"></canvas>
  <video #video playsinline autoplay hidden></video>

  <button
    [disabled]="desactivarBoton"
    type="button"
    class="btn btn-primary"
    (click)="cambiarEstado($event.target)"
  >
    INICIAR EVALUACIÓN
  </button>
  <p><strong>Puntaje actual:</strong> {{ puntaje }}</p>
  <p><strong>Alerta:</strong> {{ mensajeAlerta }}</p>
  <p><strong>Promedio de confianza:</strong> {{ promedioConfianza }}</p>
  <p><strong>Mejor puntaje:</strong> {{ mejorPuntaje }}</p>
  <app-tabla-intentos [escala]="escala"></app-tabla-intentos>
</div>
