<footer class="back-blue flex-row">
  <div class="flex-column space">
    <p><strong>Desarrollado por:</strong> Juan Sebastián Angarita</p>
    <p><strong>Correo:</strong> angaritat.js@javeriana.edu.co</p>
  </div>
  <div class="flex-column space">
    <p><strong>Asesora:</strong> Eddy Herrera Daza</p>
    <p><strong>Correo: </strong>eherrera@javeriana.edu.co</p>
  </div>
  <div class="flex-column">
    <p><strong>Asesor:</strong> Juan Carlos Prieto Rivera</p>
    <p><strong>Correo: </strong>jcprieto@javeriana.edu.co</p>
  </div>
</footer>
