<h3>{{ escala?.descripcion }}</h3>
<p><strong>Instrucciones:</strong> {{ escala?.detalles?.instrucciones }}</p>
<p><strong>Posición inicial:</strong> {{ escala?.posicionInicial }}</p>

<table class="table">
  <tr>
    <th id="titulo" colspan="3">Puntajes</th>
  </tr>
  <tr>
    <th>0</th>
    <th>1</th>
    <th>2</th>
  </tr>
  <tbody>
    <tr>
      <td class="align-middle">
        {{ escala?.detalles?.puntaje0 }}
      </td>
      <td class="align-middle">
        {{ escala?.detalles?.puntaje1 }}
      </td>
      <td class="align-middle">
        {{ escala?.detalles?.puntaje2 }}
      </td>
    </tr>
    <tr>
      <td>
        <img src="{{ escala?.detalles?.imagen0 }}" alt="Imagen no disponible" />
      </td>
      <td>
        <img src="{{ escala?.detalles?.imagen1 }}" />
      </td>
      <td>
        <img src="{{ escala?.detalles?.imagen2 }}" />
      </td>
    </tr>
  </tbody>
</table>
